    <div class='navbar navbar-default' id='navbar'>
        <a class='navbar-brand' href='#'>
            <img src="/images/NCKU_logo.png" class="NCKU_logo">
            選課系統
        </a>
        <ul class='nav navbar-nav pull-right'>
            <li class='dropdown'>
                <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                    <i class='icon-envelope'></i>
                    Messages
                    <span class='badge'>5</span>
                    <b class='caret'></b>
                </a>
                <ul class='dropdown-menu'>
                    <li>
                        <a href='#'>New message</a>
                    </li>
                    <li>
                        <a href='#'>Inbox</a>
                    </li>
                    <li>
                        <a href='#'>Out box</a>
                    </li>
                    <li>
                        <a href='#'>Trash</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href='#'>
                    <i class='icon-cog'></i>
                    使用者設定
                </a>
            </li>
            <li class='dropdown user'>
                <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                    <i class='icon-user'></i>
                    <strong>超級使用者</strong>
                    <b class='caret'></b>
                </a>
                <ul class='dropdown-menu'>
                    <li>
                        <a href='#'>Edit Profile</a>
                    </li>
                    <li class='divider'></li>
                    <li>
                        <a href="/">登出系統</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>