

<div>
    <nav class="nav">
        <a class="nav-link disabled" aria-disabled="true"><b>逞大選課系統</b>   親愛的 <%= userName %>( <%= userID %>, <%= userGrade %> ) 歡迎回來！</a>
        <a class="nav-link" href="/">課程選擇</a>
        <a class="nav-link" href="/myCourses">我的課程</a>
        <a class="nav-link" href="/changePWD">修改密碼</a>
        <a class="nav-link navbar-right" href="/logout">登出系統</a>
    </nav>
    <hr/>
</div>