<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搭配 03.js 範例</title>
</head>
<body>
    <h1>麻煩前往 localhost:3000/**** </h1>
    <input type="text" name="city"> <input type="button" id="btn1" value="前往城市">
    <p>其中，**** 為任意城市的英文名字，例如 Taipei、Tainan</p>
    <p>以下會顯示你去過的城市名稱：</p>

    <div id="cityList">
        <!-- 這邊會以 js 語法注入內容 -->
    </div>
</body>

    <script type="text/javascript">
        // 讀取 localStorage 內容
        var arr = localStorage.getItem("cityHistory");

        // 往 id="cityList" 塞數據
        // $("#cityList").html(arr)   // 這是用 jQuery 的語法
        // 這是原生的語法
        document.getElementById("cityList").innerHTML = JSON.stringify(arr);
        

        // 監聽 id="btn1" 是否觸發 click 事件
        document.getElementById("btn1").onclick = function(){
            window.location = "/" + document.getElementsByName("city")[0].value;
        }
    </script>
</html>