<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= custom %> 的訂單</title>
    <!-- 路徑相對於靜態資料夾 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>

    <style type="text/css">
        .box{
            margin:15px auto;
            width: 85%;
        }

        .btnBox{
            position: relative;
            top: -7px;
            left: 24.6%;
            width: 150px;
        }

    </style>
</head>
<body>
    <!-- 標題 -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/index_pic.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        發大財訂餐系統
        </a>
        <span><a href="/..">上一頁</a></span>        
    </nav>


    <%= custom %> 的訂單內容如下：

    <ul>
            <li><%= meal %></li>
    </ul>

</body>
</html>